[Desktop Entry]
Categories=Game;PackageManager;
Comment=A Minecraft: Bedrock Edition (earlier: Pocket Edition launcher)
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=mcpelauncher-ui-qt --file-forwarding --nosocket=wayland --nosocket=fallback-x11 --socket=x11 io.mrarm.mcpelauncher @@u %U @@
Icon=io.mrarm.mcpelauncher
MimeType=application/zip
Name=Minecraft Bedrock Launcher
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-Flatpak=io.mrarm.mcpelauncher
X-KDE-SubstituteUID=false
X-KDE-Username=
