[Desktop Entry]
GenericName=
Icon=
Name=io.mrarm.mcpelauncher
NoDisplay=true
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=mcpelauncher-client
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
